body {
    margin: 0;
    padding: 0;
    background-color: #353535;
}

.map {
    background-image: url('/images/KARTA.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 100px 5px 100px;

}

#svg1 {
    height: 100%;
    width: 100%;
}

.point {
    cursor: pointer;
    fill:#b40000;
}

.point:hover {
    fill:#d81515e0;

}

.point:active {
    fill:#ff3131e0;

}
