* {
	box-sizing: border-box;
	user-select: none;
}

@font-face {
	font-family: 'fontA';
	src: url('fonts/RobotoCondensed-Medium.ttf');
}

@font-face {
	font-family: "fontTitle";
	src: url('fonts/BoroughGroteskPro-Regular.otf');
}

body {
	font-family: 'fontA';
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #dbdbdb;
	color: rgb(63, 63, 63);
}

.header__top {
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 5fr;
}

.header__top-left {
	transition: 
	background 0.5s,
	border-radius 0.5s;
	border-radius: 30px;
	padding: 50px;
	display: grid;
	grid-template-columns: 2fr 1fr 4fr;
}

.header__top-right {
	transition: 
	background 0.5s,
	border-radius 0.5s;
	border-radius: 30px;
	padding: 50px;
	display: grid;
	grid-template-columns: 4fr 1fr 2fr;

}

.cont-box {
	height: 100%;
	width: 100%;
	background: #d8d8d8 url('/images/gus.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150% 150%;
	border: solid 3px rgb(63, 63, 63);
	border-radius: 40px;
}

.cont_link {
	height: 100%;
	width: 100%;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

.header__top-right:hover {
	transition: 
	background 0.5s,
	border-radius 0.5s;
	background: #c9c9c9;
	border-radius: 60px;
}
.header__top-left:hover {
	transition: 
	background 0.5s,
	border-radius 0.5s;
	background: #c9c9c9;
	border-radius: 60px;
}

.header__top-right:hover:active {
	cursor: grab;
	background: #eeeeee;
}

.logo-box {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 100%;
	border: solid 3px;
	border-radius: 40px;
}

.split {
	height: 100%;
	display: flex;
	justify-content: center;
}

.split div {
	max-width: 0;
	border: solid 2px;
	height: 100%;
	border-radius: 2px;
}

.title-left {
	font-family: "fontTitle";
	letter-spacing: 10px;
	font-size: 50px;
	width: 100%;
	text-align: start;
}

.title-right {
	font-family: "fontTitle";
	letter-spacing: 10px;
	font-size: 50px;
	width: 100%;
	text-align: end;
}

/* .horizontal-split {
	width: 100%;
	height: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.horizontal-split div {
	width: 80%;
	border: solid 2px white;
	border-radius: 2px;
} */

.mini-map {
	background: url('/images/mini-map.png');
	background-size: 100% 100%;
}


#context-menu {
	padding: 9px 0 9px 0;
	width: 200px;
	display: none;
	position: absolute;
	background-color: rgb(248, 248, 248);
	border: 1px solid #ccc;
	border-radius: 9px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}
.context-menu__button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	width: 100%;
	background: none;
	border: none;
	display: block;
	padding: 10px;
	cursor: pointer;
}
.context-menu__button:hover {
	background-color: #f0f0f0;
}

a.context-menu__button {
	color: #000;
	text-decoration: none;
	text-align: center;
}